<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Neighborbrew</title>
  <meta name="description" content="Coffee">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <!-- Font Awesome Icons -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>



  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.41/css/uikit.min.css" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="assets/css/app.css">

</head>

<body class="dashboard">
  <div id="dashboard-body">

    <header id="dashboard-header">
      <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
          <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              <li><a class="logo-text" href="#">Neighborbrew</a></li>
            </ul>
          </div>
          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">

              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>


    <main class="dash-main">
      <div class="uk-container">
        <h2> Welcome, {{firstname}}! </h2>
        <p class="not-you"> Not you? That's our bad. Please<a href="/logout"> sign out.</a></p>
        <div class="uk-grid-match uk-child-width-1-2@s uk-child-width-1-3@m"  uk-grid>
          <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">Your Coffee</h3>
                <p>{{topCoffeeOne}}</p>
                <p>{{topCoffeeTwo}}</p>
                <p>{{topCoffeeThree}}</p>
            </div>
          </div>

          <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">

                <h3 class="uk-card-title">Your Tastes</h3>
                <p> This card shows the taste profiles you elected when you first logged in. We use these to get you some sweet coffee recommendations. </p>

                <p>{{profileOne}}</p>
                <p>{{profileTwo}}</p>
                <p>{{profileThree}}</p>
              </ul>
            </div>
          </div>

          <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
              <div class="uk-card-header">
                <h3 class="uk-card-title">Your Account</h3>
              </div>
              <ul>
                <li>Shop Recommendation</li>
                <li>Shop Recommendation</li>
                <li>Shop Recommendation</li>
              </ul>
            </div>
          </div>

          <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-card-articles">

                <h3 class="uk-card-title">Coffee Headlines</h3>
                <div id="articles">

                </div>
            </div>
          </div>

          <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
              <div class="uk-card-header">
                <h3 class="uk-card-title">Another Card</h3>
              </div>
              <p>
Praesent euismod neque mauris, sed vehicula sapien malesuada in. Quisque ullamcorper leo at sapien lobortis, sed gravida lacus sagittis. Donec pretium vulputate lorem ac consequat. Nunc sed pellentesque ipsum, sit amet ullamcorper velit. Etiam venenatis consectetur eros eget ornare. Integer non elit gravida, gravida elit vitae, luctus erat. Nunc in risus in quam congue aliquam nec et nunc. Suspendisse iaculis ultrices ligula, vel sodales tortor venenatis et. Vivamus pretium dolor quis sodales vehicula.
</p>
            </div>
          </div>

          <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
              <div class="uk-card-header">
                <h3 class="uk-card-title">Another Card</h3>
              </div>
              <p>
Maecenas eu orci eros. Sed nec dignissim lorem. Sed nec nunc sapien. Praesent magna velit, dignissim cursus gravida vitae, suscipit at diam. Sed vitae feugiat erat, nec malesuada est. Proin finibus eleifend risus, eget efficitur velit imperdiet ac. Curabitur lacinia lectus magna, in tincidunt est viverra sit amet. Nunc quis lacus eget nulla dignissim molestie. Aenean ipsum ex, sodales id risus eu, placerat venenatis diam.
              </p>
            </div>
          </div>

        </div>
      </div>
    </main>



    <footer>
      <div class="uk-text-center copyright">
        <p>
          <strong>Copyright &copy; 2018-2019</strong><br /> Alec Down, Sammy Straw, Max Wheeler | All Rights Reserved.<br /> Icons made from www.flaticon.com
        </p>
      </div>
    </footer>

  </div>

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.41/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.41/js/uikit-icons.min.js"></script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

  <!-- Custom JS -->
  <script src="assets/js/app.js"></script>

  <!-- Google Maps API -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5EXA2BJmcchE6c3DQ0fFK7nyyja5i2co&libraries=places&callback=initMap" async defer></script>

</body>

</html>
